 <!-- Page Content -->
    <div class="container" style="padding-top: 100px;">

        <!-- Heading Row -->
        <div class="row">
            
            <!-- /.col-md-8 -->
            <div class="col-md-12">
                <div class="jumbotron">
                <h1>How to create outstanding meal that won't kill your health </h1>
                <p style="color: cadetblue;">Great tasting meals shouldn't have to ruin your health that's what I believe But -- yet many of my clients still think "boring" when they imagine a healthy meal. I tell them they don't have to be whizzes in the kitchen to make healthy food taste good. we will teach you how to pick up a few key, flavorful items from the grocery store tha can make a big difference </p>
                
                </div>
            </div>
            <!-- /.col-md-8 -->
        </div>
        <!-- /row -->
         <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center" style="background-color:rgba(135, 216, 236, 0.91); font-size: 21px;">
                    <h4>Imagine yourself creating great tasting meals that's heahtly for you and your Family </h4>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
            <div class="row">
            <div class="col-md-12">
                <div style="width: 1017px; margin: 0px auto;">
                <%= image_tag("foodone.jpg", class:"img-circle") %>
                
                <%= image_tag("foodthree.jpg", class:"img-circle") %>
                <%= image_tag("foodfour.jpg", class:"img-circle") %>
                <%= image_tag("foodfive.jpg", class:"img-circle") %>
                <%= image_tag("foodsix.jpg", class:"img-circle") %>
                </div>
            </div>
        </div>
        <!-- /.row -->
        
        <hr class="featurette-divider" style="margin: 80px 0;">
        <div class="featurette" id="about">
            <%= image_tag("500food.jpg", :class => "featurette-image img-circle img-responsive pull-right") %>
            <h2 class="featurette-heading" style="font-size: 50px;">How Can We Help?
                <span class="text-muted" style="color: #39F1E3;">Let Us provide the way to better eating</span>
            </h2>
            <p class="lead">We went on a mission to create the one website that would cover it all. We send out weekly hot meal ideas we also allow user with 
                great meal ideas to share them with the world. healthly eating is very important and we would like to change the way you look at eating healthy. over the years we created a 350+ racipe book that covers it all. at Paleo Leap we just give away free bonuses to help you and your family eat better  </p>
        </div>
        <div style="clear: both;"></div>
        <hr class="featurette-divider"style="margin: 80px 0;" >
        <div class="featurette" id="services"> 
            <%= image_tag("501food.jpg", :class => "featurette-image img-circle img-responsive pull-left") %>
            
            <h2 class="featurette-heading"style="font-size: 50px;">The Second Heading
                <span class="text-muted"style="color: #39F1E3;">Is Pretty Cool Too.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div style="clear: both;"></div>
        <hr class="featurette-divider"style="margin: 80px 0;" >
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                     <h3 class="panel-title">Panel info</h3>
                    </div>
                    <div class="panel-body" style="background-color: darkturquoise;">
                    Panel content
                     <form class="subscription-form form-inline" id="subscription-form" novalidate="">
                <!-- Email field -->
                 <input type="email" class="subscription-email" style="margin-right: 25px;border-radius: 28px;" id="subscription-email" name="email" placeholder="Name">
                <input type="email" class="subscription-email" id="subscription-email" name="email" placeholder="Email">
                <!-- /Email field -->

                <!-- Subscribe button -->
                <div class="subscription-submit-container">
                    <button class="subscription-submit btn btn-large" style="border-radius: 27px;" id="subscription-submit">SUBSCRIBE</button>
                </div>
                
            </form>

            </div>
            <!-- /Subscribe button -->
         </div>
        </div>
                

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
